# Configurar URLs amigáveis
RewriteEngine On
RewriteBase /dl3-painel-dl

# Condições
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Regra para levar o usuário ao gerenciador de conteúdo
RewriteRule ^painel-dl/(.*)$ index.php?dl3_u=painel-dl/$1&dl3_c=painel-dl&dl3_a=dev [QSA,L]

# Condições
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f [OR]
RewriteCond %{SCRIPT_FILENAME} index.php$

# Regra para levar o usuário ao conteúdo do site
RewriteRule ^(.*)$ index.php?dl3_u=$1&dl3_c=web-site&dl3_a=dev [QSA]