# Configurar URLs amigáveis
RewriteEngine On
RewriteBase /dl3-painel-dl

# Condições
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Regra para levar o usuário ao gerenciador de conteúdo
RewriteRule ^painel-dl/(.*)$ index.php?dl3_u=painel-dl/$1&dl3_c=painel-dl&dl3_a=dev [QSA,L]

# Condições
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f [OR]
RewriteCond %{SCRIPT_FILENAME} index.php$

# Regra para levar o usuário ao conteúdo do site
RewriteRule ^(.*)$ index.php?dl3_u=$1&dl3_c=web-site&dl3_a=dev [QSA]

# Impedindo a listagem de diretórios
Options -Indexes

# Ativar a compatação dos arquivos via DEFLATE
<ifModule mod_deflate.c>
    SetOutputFilter DEFLATE

    <filesMatch "\.(js|css|html|php|phtml|png|jpe?g|gif|bmp)$">
        # Diversos
        AddOutputFilterByType DEFLATE text/html
        AddOutputFilterByType DEFLATE text/plain
        AddOutputFilterByType DEFLATE text/xml

        # CSS
        AddOutputFilterByType DEFLATE text/css

        # Javascripts
        AddOutputFilterByType DEFLATE text/javascript
        AddOutputFilterByType DEFLATE application/javascript
        AddOutputFilterByType DEFLATE application/x-javascript
        AddOutputFilterByType DEFLATE application/ecmascript

        # Imagens
        AddOutputFilterByType DEFLATE image/png
        AddOutputFilterByType DEFLATE image/jpeg
        AddOutputFilterByType DEFLATE image/gif
        AddOutputFilterByType DEFLATE image/bmp
        AddOutputFilterByType DEFLATE image/x-windows-bmp
    </filesMatch>

    # Correção de BUGs em alguns navegadores
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</ifModule>


# Utilização do cache
<IfModule mod_expires.c>
 	ExpiresActive on
 	ExpiresDefault "access plus 1 week"
 	ExpiresByType text/cache-manifest "access plus 0 seconds"

 	# Html
 	ExpiresByType text/html "access plus 0 seconds"

 	# Data
 	ExpiresByType text/xml "access plus 0 seconds"
 	ExpiresByType application/xml "access plus 0 seconds"
 	ExpiresByType application/json "access plus 0 seconds"

 	# Feed
 	ExpiresByType application/rss+xml "access plus 1 hour"
 	ExpiresByType application/atom+xml "access plus 1 hour"

 	# Favicon
 	ExpiresByType image/x-icon "access plus 1 week"

 	# Media: images, video, audio
 	ExpiresByType image/gif "access plus 1 week"
 	ExpiresByType image/png "access plus 1 week"
 	ExpiresByType image/jpg "access plus 1 week"
 	ExpiresByType image/jpeg "access plus 1 week"
 	ExpiresByType video/ogg "access plus 1 week"
 	ExpiresByType audio/ogg "access plus 1 week"
 	ExpiresByType video/mp4 "access plus 1 week"
 	ExpiresByType video/webm "access plus 1 week"

 	# HTC files
 	ExpiresByType text/x-component "access plus 1 week"

 	# Webfonts
 	ExpiresByType application/x-font-ttf "access plus 1 week"
 	ExpiresByType font/opentype "access plus 1 week"
 	ExpiresByType application/x-font-woff "access plus 1 week"
 	ExpiresByType image/svg+xml "access plus 1 week"
 	ExpiresByType application/vnd.ms-fontobject "access plus 1 week"

 	# CSS / JS
 	ExpiresByType text/css "access plus 1 week"
 	ExpiresByType text/javascript "access plus 1 week"
 	ExpiresByType application/javascript "access plus 1 week"
 	ExpiresByType application/x-javascript "access plus 1 week"
</IfModule>
