// Configurações ---------------------------------------------------------------------------------------------------- //
$comp-nome: 'dl3-rodape';


// Rodapé ----------------------------------------------------------------------------------------------------------- //
.#{$comp-nome} {
    $cor-txt: #777;

    // Margens
    margin: .75rem 0;

    // Texto
    color: $cor-txt;
    text-align: center;

    > .lk-sobre-sistema {
        // Texto
        color: $cor-txt;
    }
}