@import '../../_ajuda/*';
@import '../_ajuda/*';

// CSS Reset -------------------------------------------------------------------------------------------------------- //
@include cssResetYahoo;

// Fontes ----------------------------------------------------------------------------------------------------------- //
@font-face {
    font-family: 'icones';
    src: url('../css/fontes/icomoon/icomoon.ttf');
}

@font-face {
    font-family: 'logotipo';
    src: url('../css/fontes/neuropol.ttf');
}

// TAGs ------------------------------------------------------------------------------------------------------------- //
body {
    // Visual
    background-color: $layout-html-fundo;

    // Texto
    font: 1.3rem sans-serif;
}

img, video, audio, embed, object {
    // Tamanho
    max-width: 100%;
    max-height: 100%;
}

b {
    // Texto
    font-size: inherit;
    font-weight: bold;
}

// Grid do layout --------------------------------------------------------------------------------------------------- //
#dl3-grid {
    // Tamanho
    width: $grid-tamanho-x;
    max-width: $grid-tamanho-max;

    // Margens
    margin: auto;

    // Variantes
    &.-login {
        .form-controle {
            // Tamanho
            width: 100%;
        }
    }
}

// Controle de visualização ----------------------------------------------------------------------------------------- //
// Tablets ---------------------------------------------------------------------------------------------------------- //
@include _tela-disp-moveis {
    @include _tela-smartphone {
        body {
            // Margens
            margin-top: 5rem;
        }
    }
}

// Smartphone ------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/smartphones/config';

@include _tela-smartphone {
    #dl3-grid {
        // Tamanho
        width: $grid-tamanho-x;
        max-width: $grid-tamanho-max;
    }

    .v-tablet:not(.v-tablet), .v-tablet:not(.v-tablet)::before, .v-tablet:not(.v-tablet)::after,
    .v-desk:not(.v-tablet), .v-desk:not(.v-tablet)::before, .v-desk:not(.v-tablet)::after {
        // Visual
        display: none !important;
    }
}

// Tablets ---------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/tablets/config';

@include _tela-tablets {
    #dl3-grid {
        // Tamanho
        width: $grid-tamanho-x;
        max-width: $grid-tamanho-max;

        // Variantes
        &.-login {
            // Tamanho
            width: $grid-tamanho-x / 2;
        }
    }

    .v-desk:not(.v-tablet), .v-desk:not(.v-tablet)::before, .v-desk:not(.v-tablet)::after,
    .v-smart:not(.v-tablet), .v-smart:not(.v-tablet)::before, .v-smart:not(.v-tablet)::after {
        // Visual
        display: none !important;
    }
}

// Desktops --------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/desktops/config';

@include _tela-desktops {
    body {
        // Margens
        margin-top: 4rem;
    }

    #dl3-grid {
        // Tamanho
        width: $grid-tamanho-x;
        max-width: $grid-tamanho-max;

        // Variantes
        &.-login {
            // Tamanho
            width: $grid-tamanho-x / 3.5;
        }
    }

    .v-tablet:not(.v-desk), .v-tablet:not(.v-desk)::before, .v-tablet:not(.v-desk)::after,
    .v-smart:not(.v-desk), .v-smart:not(.v-desk)::before, .v-smart:not(.v-desk)::after {
        // Visual
        display: none !important;
    }
}

// Componentes ------------------------------------------------------------------------------------------------------ //
@import 'layout/*';
@import 'componentes/*';