@import '../../_ajuda/config.scss';

.detalhes-registro {
    .det {
        &-grupo {

        }

        &-titulo {
            // Texto
            color: $mnnv-cor-fundo;
            line-height: 2.5rem;

            // Visual
            border-bottom: 1px solid $mnnv-cor-fundo;

            // Margens
            margin-bottom: 1rem;
        }

        &-paragr {
            // Margens
            padding: .5em 0;

            .det-rotulo {
                // Texto
                color: #AAA;
                line-height: 1.5em;

                // Visual
                display: block;
            }
        }
    }
}