@import '../../_ajuda/config.scss';
@import '../../../_ajuda/compatibilidade.scss';

// Lista de registros ----------------------------------------------------------------------------------------------- //
.lista-registros {
    $ln: 3rem;

    // Tamanho
    width: 100%;

    // Visual
    border-spacing: 0;
    border-collapse: collapse;

    > .subtitulo {
        // Texto
        color: #777;
        text-align: center;

        // Margens
        margin-bottom: 1rem;
    }
}