// Configurações para desktops -------------------------------------------------------------------------------------- //


// Grade flexível --------------------------------------------------------------------------------------------------- //
$flex-qtde-cols: 12;
$flex-padding: 1.5%;
$flex-espaco: 2%;


// Topo ------------------------------------------------------------------------------------------------------------- //
$topo-qtde-cols: $flex-qtde-cols;


// Menu de navegação ------------------------------------------------------------------------------------------------ //
$mnnv-qtde-cols: $flex-qtde-cols;


// Conteúdo --------------------------------------------------------------------------------------------------------- //
$conteudo-qtde-cols: $flex-qtde-cols;


// Rodapé ----------------------------------------------------------------------------------------------------------- //
$rodape-qtde-cols: $flex-qtde-cols;