// Configurações para smartphones ----------------------------------------------------------------------------------- //


// Grade flexível --------------------------------------------------------------------------------------------------- //
$flex-qtde-cols: 6;
$flex-padding: 1.5%;
$flex-espaco: 2%;


// Topo ------------------------------------------------------------------------------------------------------------- //
// Flex
$topo-qtde-cols: $flex-qtde-cols;


// Menu de navegação ------------------------------------------------------------------------------------------------ //
$mnnv-qtde-cols: $flex-qtde-cols;


// Conteúdo --------------------------------------------------------------------------------------------------------- //
$conteudo-qtde-cols: $flex-qtde-cols;


// Rodapé ----------------------------------------------------------------------------------------------------------- //
$rodape-qtde-cols: $flex-qtde-cols;