/**
 * @Autor	: Diego Lepera
 * @E-mail	: dlepera88@gmail.com
 * @Projeto	: FrameworkDL
 * @Data   	: 12/05/2015 17:20:21
 */


@import '../_ajuda/config';
@import '../_ajuda/flexivel';
@import '../../_ajuda/geometricas';



// Configurações ---------------------------------------------------------------------------------------------------- //
$nome-componente: 'dl3-topo';
$mnus-cor-fundo: rgba(0, 0, 0, .7);



// Topo ------------------------------------------------------------------------------------------------------------- //
.#{$nome-componente} {
	// Tamanho
	height: 100px;

	// Posicionamento
	position: relative;

	// Logotipo
	> .logotipo {
		// Texto
		font-size: 2em;
		font-family: 'logotipo';
		line-height: 1.5em;
		color: #6a8397;

		// Visual
		display: inline-block;
		background: url('imagens/logotipo.png') no-repeat left center;
		background-size: contain;

		// Margens
		padding-left: 1.5em;
		
		// Posicionamento
		position: relative;
		top: 50%;

		// Transformar
		@include _transform(translateY(-50%));
	}

	// Menu de ações do usuario
	> .menu-usuario {
		$ts: 5px; /* tamanho da seta para cima */

		// Posicionamento
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 1;

		// Transformar
		@include _transform(translateY(-50%));

		// Texto
		font-size: 1.05em;

		.menu-texto, .sm-texto {
			// Visual
			display: inline-block;

			// Texto
			line-height: 2.3em;
		}

		.menu-texto {
			// Texto
			color: #069;
		}

		.menu-item {
			> .menu-texto {
				// Margens
				margin-bottom: .75em;
			}
		}

		.menu-item:hover {
			> .sub-menu {
				// Visual
				display: block;
			}
		}

		.sub-menu {
			// Posicionamento
			position: absolute;
			right: 0;
			top: 102%;

			// Margens
			padding: .5em .75em;

			// Visual
			border-radius: 7px;
			display: none;
			background-color: $mnus-cor-fundo;

			.sm-texto {
				// Texto
				color: #FFF;
			}

			// Incluir icones nos links
			.sm-texto::before {
				// Texto
				font-family: 'icones';
				font-size: 1.4em;

				// Alinhamento
				vertical-align: middle;

				// Margens
				margin-right: .35em;
			}
		}

		.sub-menu::before {
			// Triangulo
			@include _triangulo-cima($mnus-cor-fundo, $ts, $ts);

			// Texto
			content: '';

			// Posicionamento
			position: absolute;
			top: 0;
			right: 1.5%;

			// Transformar
			@include _transform(translateX(-125%) translateY(-100%));
		}

		// Link: Minha conta
		.ico-conta::before{ content: '\e671'; }

		// Link: Alterar minha senha
		.ico-senha::before{ content: '\e68d'; }

		// Link: Sair do sistema
		.ico-logout::before{ content: '\e714'; }
	}
}



// Desktops --------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/desktops/config';

@include _tela-desktops {
	@include _componentes-pg($nome-componente, $topo-qtde-cols, 0, 0, $flex-qtde-cols) {
		// Sub-menu
		.menu-usuario {
			.sub-menu {
				// Tamanho
				width: 15vw;
			}
		}
	}
}



// Tablets ---------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/tablets/config';

@include _tela-tablets {
	@include _componentes-pg($nome-componente, $topo-qtde-cols, 0, 0, $flex-qtde-cols) {
		// Sub-menu
		.menu-usuario {
			.sub-menu {
				// Tamanho
				width: 45vw;
			}
		}
	}
}



// Smartphones ------------------------------------------------------------------------------------------------------ //
@import '../_ajuda/smartphones/config';

@include _tela-smartphone {
	@include _componentes-pg($nome-componente, $topo-qtde-cols, 0, 0, $flex-qtde-cols) {
		// Sub-menu
		.menu-usuario {
			.sub-menu {
				// Tamanho
				width: 70vw;
			}
		}
	}
}