/**
 * @Autor	: Diego Lepera
 * @E-mail	: dlepera88@gmail.com
 * @Projeto	: FrameworkDL
 * @Data   	: 12/05/2015 17:20:21
 */


@import '../_ajuda/config';
@import '../_ajuda/flexivel';
@import '../../_ajuda/geometricas';



// Configurações ---------------------------------------------------------------------------------------------------- //
$nome-componente: 'dl3-menu';



// Menu de navegação ------------------------------------------------------------------------------------------------ //
.#{$nome-componente} {
	// Flex
	@include _flex-box;
	@include _flex-flow(nowrap);

	// Posicionamento
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;

	// Visual
	background-color: $mnnv-cor-fundo;
	box-shadow: 0 0 5px rgba(0, 0, 0, .35);

	// Tamanho
	width: 100%;
	
	> .menu-principal {
		> .menu-item {
			> .menu-texto {
				// Texto
				color: $mnnv-links-texto;
				line-height: 3rem;

				// Tamanho
				width: 100%;

				// Visual
				display: inline-block;

				// Margens
				margin: 0;
			}

			> .sub-menu {
				// Visual
				background-color: $mnnv-sbmn-cor-fundo;

				> .sm-item {
					// Texto
					color: $mnnv-sbmn-texto;

					> .sm-texto {
						// Texto
						color: $mnnv-sbmn-links-texto;
						font-size: 1.1em;

						// Visual
						display: block;

						// Margens
						margin-bottom: .5rem;
					}
				}
			}
		}
	}
	
	> #form-filtro-modulos {
		// Margens
		margin: 0;

		> .form-paragr {
			// Tamanho
			width: 100%;
			height: 100%;
			
			// Margens
			margin: 0;
			padding: 0;
			
			// Visual
			background: #FFF;
			border-radius: 20px;
			
			// Posicionamento
			position: relative;
			
			> .form-rotulo {
				// Visual
				display: none;
			}
			
			> .form-controle-busca {
				// Visual
				border: none;
				background: none;
				
				// Tamanho
				width: 100%;
				height: 100%;
			}
		}
		
		> .form-paragr::after {
			// Texto
			content: '\e686';
			font-family: 'icones';
			color: #CCC;
			font-size: 1.5em;
			text-align: center;
			
			// Tamanho
			width: 2em;
			
			// Posicionamento
			position: absolute;
			right: 0;
			top: 50%;
			
			// Transformar
			@include _transform(translateY(-45%));
		}
		
		> .menu-filtro {
			// Posicionamento
			position: absolute;
			right: 1em;
			
			// Visual
			border-radius: 10px;
			box-shadow: 0 0 5px rgba(0, 0, 0, .35);
			background: #FFF;
			overflow: auto;
			
			// Margens
			padding: 0 1em;

			.sub-menu {
				> .sm-item {
					// Visual
					background: none;

					// Margens
					padding: 5% 0;

					// Visual
					border-bottom: 1px solid #EEE;

					// Texto
					color: $mnnv-sbmn-texto;

					> .sm-texto {
						// Visual
						display: block;

						// Texto
						line-height: 2rem;
						color: $mnnv-sbmn-links-texto;
					}
				}
			}
			
			.sm-item:last-child {
				// Visual
				border: none;
			}
		}
	}
}



// Desktops --------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/desktops/config';

@include _tela-desktops {
	$qtde-cols-menu: 9.5;
	$qtde-cols-filtro: $flex-qtde-cols - $qtde-cols-menu;

	.#{$nome-componente} {
		> .menu-principal {
			// Flex
			@include _colunas($qtde-cols-menu, 0, 0, $flex-qtde-cols);
			@include _flex-box;

			// Tamanho
			max-width: 100% !important;
			height: 3rem;

			> .menu-item {
				// Flex
				@include _flex(auto);

				> .menu-texto {
					// Texto
					text-align: center;
				}

				> .sub-menu {
					// Flex
					@include _flex-box;
					@include _flex-flow(row wrap);

					// Posicionamento
					position: absolute;
					left: 0;

					// Tamanho
					width: 100%;

					// Visual
					display: none;
					border-bottom: 1px solid #EEE;

					// Margens
					padding: 1rem 0;

					> .sm-item {
						// Flex
						@include _colunas(4, $flex-padding, $flex-espaco, $flex-qtde-cols);

						// Margens
						margin-top: 1em;
					}

					// Ajustar as margens
					> .sm-item:nth-child(1),
					> .sm-item:nth-child(2),
					> .sm-item:nth-child(3) {
						// Margens
						margin-top: 0;
					}
				}
			}

			> .menu-item:hover {
				// Visual
				background-color: $mnnv-sbmn-cor-fundo;

				> .menu-texto {
					// Texto
					color: $mnnv-sbmn-links-texto;
				}

				> .sub-menu {
					// Flex
					@include _flex-box;
				}
			}
		}

		> #form-filtro-modulos {
			// Flex
			@include _colunas($qtde-cols-filtro, 2%, 0, $flex-qtde-cols);

			// Tamanho
			height: 2.85em;

			// Margens
			padding: .35em .9em;

			> .menu-filtro {
				// Tamanho
				width: 30vw;
				max-height: 60vh;
			}
		}
	}
}



// Tablets e smartphones -------------------------------------------------------------------------------------------- //
@include _tela-disp-moveis {
	.#{$nome-componente} {
		// Tamanho
		height: 4rem;

		.a-mostrar-menu {
			// Visual
			display: inline-block;

			// Tamanho
			height: 100%;

			// Posicionamento
			position: relative;
		}

		.a-mostrar-menu::before {
			// Texto
			content: '\e6bd';
			font-family: 'icones';
			color: $mnnv-links-texto;
			font-size: 1.5rem;

			// Margens
			margin-left: .75em;

			// Posicionamento
			position: absolute;
			top: 50%;

			// Transformar
			@include _transform(translateY(-50%));
		}

		.a-mostrar-menu:hover + .menu-principal,
		.menu-principal:hover {
			// Posicionamento
			left: 0;
		}

		.menu-principal {
			// Posicionamento
			position: fixed;
			top: 0;
			left: -100%;
			// left: 0;
			z-index: 10;

			// Tamanho
			height: 100vh;

			// Visual
			background-color: $mnnv-cor-fundo;
			overflow-y: auto;
			box-shadow: 0 0 8px rgba(0, 0, 0, .35);

			// Transição
			@include _transition(left .7s);

			> .menu-item {
				// Posicionamento
				position: relative;

				> .menu-texto {
					// Margens
					padding: 0 1rem;

					// Posicionamento
					position: relative;
				}

				> .sub-menu {
					// Margens
					padding: .75rem 1rem;

					> .sm-item {
						// Margens
						padding: .75rem 0;
					}

					> .sm-item:hover {
						// Visual
						background-color: transparentize($mnnv-cor-fundo, .9);
					}
				}

				> .menu-texto::after {
					// Texto
					content: '';

					// Formas geométricas
					@include _triangulo-baixo(#FFF, 5px, 5px);

					// Posicionamento
					position: absolute;
					right: 5%;
					top: 50%;

					// Transformar
					@include _transform(translateY(-50%));
				}
			}
		}

		> #form-filtro-modulos {
			// Tamanho
			height: 3.85em;

			// Margens
			padding: .55em .9em;
		}
	}
}



// Tablets ---------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/tablets/config';

@include _tela-tablets {
	$qtde-cols-menu: $flex-qtde-cols * .7;
	$qtde-cols-filtro: $flex-qtde-cols - $qtde-cols-menu;

	.#{$nome-componente} {
		> .a-mostrar-menu {
			// Flex
			@include _colunas($qtde-cols-menu, 0, 0, $flex-qtde-cols);
		}

		> .menu-principal {
			// Tamanho
			width: 40vw;
		}

		> #form-filtro-modulos {
			// Flex
			@include _colunas($qtde-cols-filtro, 2%, 0, $flex-qtde-cols);

			> .menu-filtro {
				// Tamanho
				width: 60vw;
				max-height: 60vh;
			}
		}
	}
}



// Smartphones ------------------------------------------------------------------------------------------------------ //
@import '../_ajuda/smartphones/config';

@include _tela-smartphone {
	$qtde-cols-menu: 3;
	$qtde-cols-filtro: $flex-qtde-cols - $qtde-cols-menu;

	.#{$nome-componente} {
		> .a-mostrar-menu {
			// Flex
			@include _colunas($qtde-cols-menu, 0, 0, $flex-qtde-cols);
		}

		> .menu-principal {
			// Tamanho
			width: 80vw;
		}

		> #form-filtro-modulos {
			// Flex
			@include _colunas($qtde-cols-filtro, 2%, 0, $flex-qtde-cols);

			> .menu-filtro {
				// Tamanho
				width: 75vw;
				max-height: 80vh;
			}
		}
	}
}