/**
 * @Autor	: Diego Lepera
 * @E-mail	: dlepera88@gmail.com
 * @Projeto	: FrameworkDL
 * @Data   	: 14/09/2015 14:26:21
 */


@import '../_ajuda/config';
@import '../_ajuda/flexivel';



// Configurações ---------------------------------------------------------------------------------------------------- //
$nome-componente: 'dl3-conteudo';



// Conteúdo da página ----------------------------------------------------------------------------------------------- //
.#{$nome-componente} {
	// Visual
	background-color: #FFF;
	border-radius: 5px;
	border: $layout-borda-padrao;

	// Margens
	padding-top: 1em;
	padding-bottom: 1em;

	// Posicionamento
	position: relative;
	
	> .titulo-h1{
		// Texto
		font-variant: small-caps;
		font-size   : 1.5em;
		line-height : 2em;
		font-weight : normal;
		color: $layout-titulo-h1;
		
		// Visual
		border-bottom: $layout-borda-padrao;
		
		// Margens
		margin-bottom: 1em;
	}
	
	> .titulo-h2{
		// Texto
		font-variant: small-caps;
		font-size   : 1.3em;
		line-height : 1.3em;
		font-weight : normal;
		color: $layout-titulo-h2;
		
		// Visual
		border-left: 3px solid $layout-titulo-h2;
		
		// Margens
		margin      : 1em 0;
		padding-left: .35em;
	}
}



// Desktops --------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/desktops/config';

@include _tela-desktops {
	@include _componentes-pg($nome-componente, $conteudo-qtde-cols, $flex-padding, 0, $flex-qtde-cols) {

	}
}



// Tablets ---------------------------------------------------------------------------------------------------------- //
@import '../_ajuda/tablets/config';

@include _tela-tablets {
	@include _componentes-pg($nome-componente, $conteudo-qtde-cols, $flex-padding, 0, $flex-qtde-cols) {

	}
}



// Smartphones ------------------------------------------------------------------------------------------------------ //
@import '../_ajuda/smartphones/config';

@include _tela-smartphone {
	@include _componentes-pg($nome-componente, $conteudo-qtde-cols, $flex-padding, 0, $flex-qtde-cols) {

	}
}