/**
 * @Autor	: Diego Lepera
 * @E-mail	: dlepera88@gmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 12/05/2015 22:00:00
 */



@import '../_ajuda/config.scss';



// Detalhes --------------------------------------------------------------------------------------------------------- //
.detalhes{
    // Margens
    margin-top: 2em;
    
    .det-grupo{
        
    }
    
    .det-titulo{
        // Texto
        color       : $mnnv-cor-fundo;
        line-height : 2.5em;
        
        // Visual
        border-bottom: 1px solid $mnnv-cor-fundo;
        
        // Margens
        margin-bottom: 1em;
    }
    
    .det-paragr{
        // Margens
        padding: .5em 0;
        
        .det-rotulo{
            // Texto
            color       : #AAA;
            line-height : 1.5em;
            
            // Visual
            display: block;
        }
    }
}
