/**
 * @Autor	: Diego Lepera
 * @E-mail	: dlepera88@gmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 13/05/2015 14:57:53
 */



@import '../_ajuda/config';


// Desktops --------------------------------------------------------------------------------------------------------- //
@include _tela-desktops {
    #dl3-grid.grid-login {
        /* Tamanho */
        width: $grid-tamanho-x / 3;
        
        .form-controle {
            /* Tamanho */
            width: 100%;
        }
    }
}



// Tablets ---------------------------------------------------------------------------------------------------------- //
@include _tela-tablets {
    #dl3-grid.grid-login {
        /* Tamanho */
        width: $grid-tamanho-x / 1.5;
        
        .form-controle {
            /* Tamanho */
            width: 100%;
        }
    }
}



// Smartphones ------------------------------------------------------------------------------------------------------ //
@include _tela-smartphone {
    #dl3-grid.grid-login {
        /* Tamanho */
        width: $grid-tamanho-x;
        
        .form-controle {
            /* Tamanho */
            width: 100%;
        }
    }
}