// Configurações ---------------------------------------------------------------------------------------------------- //
$comp-nome: 'menu-acoes';


// Conteúdo --------------------------------------------------------------------------------------------------------- //
.#{$comp-nome} {
    // Margens
    margin: 1rem 0;

    > *:not(:last-child) {
        // Margens
        margin-right: 2rem;
    }
}


// Dispositivos móveis ---------------------------------------------------------------------------------------------- //
@include _tela-disp-moveis {
    .#{$comp-nome} {

    }
}


// Smartphones ------------------------------------------------------------------------------------------------------ //
@include _tela-smartphone {
    .#{$comp-nome} {

    }
}


// Tablets ---------------------------------------------------------------------------------------------------------- //
@include _tela-tablets {
    .#{$comp-nome} {

    }
}


// Desktops ------------------------------------------------------------------------------------------------------ //
@include _tela-desktops {
    .#{$comp-nome} {
        
    }
}