// Configurações ---------------------------------------------------------------------------------------------------- //
$comp-nome: 'titulo-h2';


// Conteúdo --------------------------------------------------------------------------------------------------------- //
.#{$comp-nome} {
    // Texto
    font-variant: small-caps;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: normal;
    color: #6a8397;

    // Visual
    border-left: 3px solid #6a8397;

    // Margens
    margin: 1em 0;
    padding-left: .35em;
}


// Dispositivos móveis ---------------------------------------------------------------------------------------------- //
@include _tela-disp-moveis {
    .#{$comp-nome} {

    }
}


// Smartphones ------------------------------------------------------------------------------------------------------ //
@include _tela-smartphone {
    .#{$comp-nome} {

    }
}


// Tablets ---------------------------------------------------------------------------------------------------------- //
@include _tela-tablets {
    .#{$comp-nome} {

    }
}


// Desktops ------------------------------------------------------------------------------------------------------ //
@include _tela-desktops {
    .#{$comp-nome} {
        
    }
}