// Configurações ---------------------------------------------------------------------------------------------------- //
$comp-nome: 'titulo-h1';


// Conteúdo --------------------------------------------------------------------------------------------------------- //
.#{$comp-nome} {
    // Texto
    font-variant: small-caps;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: normal;
    color: #6a8397;

    // Visual
    border-bottom: $layout-borda-padrao;
}


// Dispositivos móveis ---------------------------------------------------------------------------------------------- //
@include _tela-disp-moveis {
    .#{$comp-nome} {

    }
}


// Smartphones ------------------------------------------------------------------------------------------------------ //
@include _tela-smartphone {
    .#{$comp-nome} {

    }
}


// Tablets ---------------------------------------------------------------------------------------------------------- //
@include _tela-tablets {
    .#{$comp-nome} {

    }
}


// Desktops ------------------------------------------------------------------------------------------------------ //
@include _tela-desktops {
    .#{$comp-nome} {
        
    }
}